body {
    font-family: 'Arial', sans-serif;
    background-color: #181818; /* Noir profond pour le fond principal */
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

header h1 {
    font-size: 2.5em;
    font-weight: bold;
    color: #1DB954; /* Vert Spotify */
}

.text h2 {
    font-size: 1.5em;
    margin-top: 20px;
    border-bottom: 2px solid #1DB954; /* Bordure verte Spotify */
    display: inline-block;
}

.text p {
    font-size: 1em;
    line-height: 1.6;
    margin-top: 15px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.checkbox-label {
    margin-left: 10px;
}

.submit-btn {
    background-color: #1DB954; /* Vert Spotify */
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #1ed760; /* Vert Spotify légèrement plus clair pour l'effet de survol */
}

input[type="checkbox"] {
    display: none;
}

.checkbox-label {
    display: block;
    padding: 10px;
    background-color: #282828; /* Gris foncé pour le fond des éléments */
    color: white;
    border-bottom: 1px solid #333; /* Bordure encore plus sombre pour séparer les éléments */
    position: relative;
    cursor: pointer;
}

.checkbox-label::before {
    content: '✅';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    opacity: 0;
}

input[type="checkbox"]:checked + .checkbox-label::before {
    opacity: 1;
}

.sub-items {
    display: none;
}

#compartiment {
    display: none;
}

button {
    display: block;
    padding: 10px;
    background-color: #282828;
    color: white;
    border: none; /* Supprimez la bordure pour un look plus propre */
    border-radius: 4px; /* Ajoutez un petit rayon pour adoucir les coins */
    cursor: pointer;
    font-size: larger;
    transition: background-color 0.3s; /* Pour un changement de couleur en douceur lors du survol */
}

button:hover {
    background-color: #1DB954; /* Vert Spotify pour le survol */
}
