{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download Page</title>
</head>
<body>
    <h1>Download Page</h1>
    <button onclick="redirectToDownload()">Download File</button>

    <script>
        function redirectToDownload() {
            // Rediriger vers l'URL de téléchargement
            window.location.href = "{% url 'download_file' %}";
        }
    </script>
</body>
</html>