{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation</title>
    
</head>
<body>
    <h1>Merci d'avoir soumis le formulaire !</h1>
 
    <br>
    {% for element in capteurs %}
  {{ element }}<br>
{% endfor %}
    <br>
    {% for element in actionneurs %}
  {{ element }}<br>
{% endfor %}
    <br><br>
    <button onclick="redirectToDownload()">Download Model 1</button>

    <script>
        function redirectToDownload() {
            // Rediriger vers l'URL de téléchargement
            window.location.href = "{% url 'download_file' %}";
        }
    </script>

    <br><br>

    
        <br> 
        LES PIECES SONT VISUALISABLES SUR SOLIDWORKS
</body>
</html>
