{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compartiment Exemple</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script>
        function toggleCompartiment(id) {
            const compartiment = document.getElementById(id);
            if (compartiment.style.display === "none" || compartiment.style.display === "") {
                compartiment.style.display = "block";
            } else {
                compartiment.style.display = "none";
            }
        }

        function startRobotAnimation() {
            const robotBtn = document.getElementById('robotBtn');
            const effectDiv = document.getElementById('robotEffect');
            const mainCompartiment = document.getElementById('compartiment');

            robotBtn.style.display = "none"; // Cacher le bouton dès le début de l'animation
            effectDiv.style.display = "block"; // Afficher "Chargement..."

            setTimeout(() => {
                effectDiv.style.display = "none"; // Cacher "Chargement..."
                mainCompartiment.style.display = "block"; // Afficher le compartiment principal
            }, 900); // Après 1 seconde
        }
    </script>
</head>

<body>
    <div class="center-container">
        <button id="robotBtn" onclick="startRobotAnimation()">Fonction du robot</button>
        <div id="robotEffect" style="display:none;">
            GENERO
        </div>
        <div id="compartiment" style="display:none;">
            <button onclick="toggleCompartiment('inspectionCompartiment')">Inspection</button>
            <div id="inspectionCompartiment" style="display:none;">
                {{ inspection_form.as_p }}
                <style>
                    button {
                        margin: 20px;
                    }
                </style>
            </div>

            <button onclick="toggleCompartiment('transportCompartiment')">Transport</button>
            <div id="transportCompartiment" style="display:none;">
                {{ transport_form.as_p }}
                <style>
                    button {
                        margin: 20px;
                    }
                </style>
                
                
            </div>

            <button onclick="toggleCompartiment('manipulationCompartiment')">Manipulation</button>
            <div id="manipulationCompartiment" style="display:none;">
                {{ manipulation_form.as_p }}
                <style>
                    button {
                        margin: 20px;
                    }
                </style>
            </div>
        </div>
    </div>
</body>

</html>
